<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heisenberg.ssm.mapper.PersonMapper">
    <insert id="addPerson" parameterType="Person" useGeneratedKeys="true" keyProperty="id">
        insert into ssm_person(`name`,`age`) VALUES (#{name},#{age})
    </insert>
</mapper>